
* {
  font-family: 'Roboto', sans-serif;
  padding: 0; margin: 0;
}


.subheader {
  width: 100%;
  text-align: center;
  background-color: #B8C8D2;
}

.main_photo {
  margin-top: 60px;
  width: 35%;
  height: 35%;
  border: 8px solid #fff;
}

.Hello {
  font-family: 'Dancing Script', cursive;
  margin-top: -5px;
  margin-right: 200px;
  color:#fff;
  font-size: 50px;
  line-height: 10px;
}

.Name {
  color:#fff;
  font-size: 50px;
  margin-top: 32px;
}

.info {
  margin-top: 12px;
  color:#fff;
  font-size: 25px;
}

.subheader_connection {
  margin-bottom: 45px;
  margin-top: 36px;
  border: 70px solid #fff;
  border-radius: 50%;
  font-size: 20px;
  background-color: #fff;
  color: #a1bed0;
}

.subheader_connection:hover {
  cursor: pointer;
}

.about_me {
  width: 100%;
  text-align: center;
  margin-top: 130px;
}

.who {
  margin-right: 84px;
  color:#B8C8D2;
  font-size: 50px;
}

.help {
  font-size: 50px;
}

.description {
  margin-top: 36px;
}

.one {
  margin-top: 30px;
  font-size: 30px;
}

.two {
  margin-top: 40px;
  font-size: 30px;
}

.fre {
  margin-top: 40px;
  font-size: 30px;
}

.tsu {
  margin-top: 100px;
  width: 35%;
  height: 35%;
  border: 8px solid #B8C8D2;
}

.lessons {
  width: 100%;
  margin-top: 160px;
  text-align: center;
}

.my_lessons {
  font-size: 50px;
}

.who_want {
  font-size: 50px;
  color: #B8C8D2;
}

.want {
  margin-left: 270px;
  margin-top: 36px;
  border: 2px solid #B8C8D2;
  border-radius: 50px;
  width: 50%;
}

.pynkt {
  list-style-type: none;
}

.pynkt_item {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.line {
  color: #B8C8D2;
  margin-left: 130px;
  height: 2px;
  width: 50%;
  background-color: #B8C8D2;
}

.photo {
  margin-top: 150px;

}

.photo_k {
  width: 35%;
  height: 35%;
  border: 8px solid #B8C8D2;
  -webkit-border-image: -webkit-linear-gradient(#B8C8D2 80% , #fff 20%); 
  -moz-border-image: -moz-linear-gradient(#B8C8D2 80%, #fff 20%);
  border-image: linear-gradient(#B8C8D2 80%, #fff 20%); 
  border-image-slice: 1; 
}

.format {
  width: 100%;
  padding-bottom: 150px;
  margin-top: -110px;
  text-align: center;
  background-color: #B8C8D2;

}

.work {
  padding-top: 150px;
  font-size: 50px;
  color: #fff;
}

.so {
  margin-right: 240px;
}

.format_work {
  margin-right: 70px;
  margin-top: 36px;
  font-size: 25px;
  color: #fff;
}

.format_youwork {
  margin-right: 130px;
}

.format_description {
  display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-top: 50px;
  background-color: #fff;
  width: 50%;
  height: 50%;
  border-radius: 40px;
}
 
.format_table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #B8C8D2;
}

.format_td {

  padding: 30px;
  border: 2px solid #B8C8D2;
  font-size: 20px;
}

.cost {
  width: 100%;
  margin-top: 150px;
  text-align: center;
}

.cost_lessons{
  font-size: 50px;
}

.cost_zagl {
  margin-right: 170px;
}

.individual {
  margin-top: 75px;
  font-size: 30px;
}

.individual_description {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 75px;
  font-size: 20px;
}

.individual_table {
  border-collapse: collapse;
}

.individual_td {
  padding: 25px;
  border-right: 1px solid #B8C8D2;
  border-bottom: 1px solid #B8C8D2;
}

.individual_td2 {
  padding: 25px;
  border-bottom: 1px solid #B8C8D2;
}

.individual_td3 {
  padding: 25px;
  border-right: 1px solid #B8C8D2;
}

.individual_td4 {
  padding: 25px;
}

.individual_cost {
  display: flex;
  margin-top: 75px;
  font-size: 20px;
  margin-left: 280px;
}


.individual_connection {
  margin-top: -25px;
  margin-left: 300px;
  border: 50px solid #B8C8D2;
  border-radius: 50%;
  font-size: 20px;
  background-color: #B8C8D2;
  color: #fff;
  min-width: 300px;
}

.individual_connection:hover {
  cursor: pointer;
}

.mini_group {
  width: 100%;
  margin-top: 150px;
  text-align: center; 
  font-size: 30px;
  padding-bottom: 150px;
}

.mini_description {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 75px;
  font-size: 20px;
}

.mini_table {
  border-collapse: collapse;
}

.mini_td {
  padding: 25px;
  border-right: 1px solid #B8C8D2;
  border-bottom: 1px solid #B8C8D2;
}

.mini_td2 {
  padding: 25px;
  border-bottom: 1px solid #B8C8D2;
}

.mini_td3 {
  padding: 25px;
  border-right: 1px solid #B8C8D2;
}

.mini_td4 {
  padding: 25px;
}

.mini_cost {
  display: flex;
  margin-top: 75px;
  font-size: 20px;
  margin-left: 280px;
}

.mini_connection {
  margin-top: -25px;
  margin-left: 300px;
  border: 50px solid #B8C8D2;
  border-radius: 50%;
  font-size: 20px;
  background-color: #B8C8D2;
  color: #fff;
  min-width: 300px;
}

.mini_connection:hover {
  cursor: pointer;
}

.feedback {
  width: 100%;
  padding-bottom: 150px;
  text-align: center;
  background-color: #B8C8D2;
}

.what_says {
  padding-top: 150px;
  font-size: 50px;
  color: #fff;
}


.slider {
  padding-top: 500px;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin-top: 200px;
  margin-left: 30px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #fff;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__txt {
  margin-top: 40px;
  text-align: left;
  padding: 35px;
  color: #000000;
  font-size: 20px;
  background-color: #fff;
  border-radius: 50px;
}

.slider_description {
  margin-top: 30px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.kontakts {
  width: 100%;
  background-image: url('../img/bgc.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.kontakt_ds {
  margin-top: 150px;
  font-size: 50px;
}

.ds {
  font-size: 50px;
  color: #B8C8D2;
}

.kdst {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 300px;
  font-size: 30px;
  border:8px solid #B8C8D2;
  background-color: #fff;

}

.kdst:hover{
  cursor: pointer;
}

.kdst_txt {
  padding: 60px;
  padding-left: 90px;
}

.kdsw {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 300px;
  margin-bottom: 200px;
  font-size: 30px;
  border:8px solid #B8C8D2;
  background-color: #fff;
}

.kdsw:hover{
  cursor: pointer;
}

.kdsw_txt {
  padding: 60px;
  padding-left: 105px;
}

.last_description {
  margin-top: -100px;
  padding-bottom: 80px;
  font-size: 30px;
  text-align: left;
  margin-left: 550px;
}

.footer {
  width: 100%;
  background-color: #B8C8D2;
}

.last_photo {
  width: 60%;
  height: 60%;
  margin-left: 200px;
  margin-top: -200px;
}

.link {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .nav {
    width: 100px;
  }
  
}